<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pe.edu.upc.movienight">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieNightApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".viewControllers.activities.onboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewControllers.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".viewControllers.activities.TitleActivity"
            android:label="@string/title_activity_title"
            android:parentActivityName=".viewControllers.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".viewControllers.activities.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName=".viewControllers.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".viewControllers.activities.NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:parentActivityName=".viewControllers.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".viewControllers.activities.PlaylistsActivity"
            android:label="@string/title_activity_playlists"
            android:parentActivityName=".viewControllers.activities.EventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.EventActivity" />
        </activity>
        <activity
            android:name=".viewControllers.activities.PlaylistActivity"
            android:label="@string/title_activity_playlist"
            android:parentActivityName=".viewControllers.activities.PlaylistsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.PlaylistsActivity" />
        </activity>
        <activity
            android:name=".viewControllers.activities.AddPlaylistActivity"
            android:label="@string/title_activity_add_playlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewControllers.activities.MediaContensActivity"
            android:label="@string/title_activity_media_contens"
            android:parentActivityName=".viewControllers.activities.PlaylistsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.movienight.viewControllers.activities.PlaylistsActivity" />
        </activity>
    </application>

</manifest>